/*BODY*/

body {
    background-image: linear-gradient(#1bffff   , #2e3192   );
}

/*HEADER*/

header {
    padding: 1%;
    display:flex;
    justify-content: center;
}

#logo {
    width: 15%;
}

#imageLogo {
    width: 80%;
}

#searchBar {
    padding-left: 1%;
    padding-right: 1%;
    width: 61%;
    display:flex;
}

#userArea {
    width: 20%;
    display:flex;
}

.shoppingCar {
    display:flex;
    align-items: center;
}

.shoppingCarLink a {
    color: #016984;
    font: bold 1em "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

.shoppingCarImage {
    width: 20%;
}

/* CARROUSEL */

#imageCarrousel{
    width: 100%
}

/*SECTION*/

section {
    display:flex;
    align-items: center;
    padding: 1% 5%;
    flex-direction: column;
}

.divSection {
    margin: 1% 0;
    padding: 1% 1%;
    width: 88%;
    background-color: white;
}

.divFilterOne {
    float: right;
    display:flex;
    align-items: baseline;
}

#products {
    padding: 0 2%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    margin: 1% 7.5%;
    width: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pages ul {
    margin: 0;
    list-style: none;
    display:flex;
}

article button {
    width: 100%;
}

#imageProduct {
    width: 100%;
}

.lblFilterOne {
    width: 50%;
}

#numberRegister {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

/*FOOTER*/

footer {
    background-color: black;
    color: white;
}

footer #footerLists {
    display: flex;
}

footer #footerLists .footerListsItem {
    flex: 2;
}

footer {
    padding: 2%;
}

.listFooter li {
    font-size: medium;
    list-style: none;
    margin: 2% 2%;
}

.titleListFooter {
    font-size: x-large;
}

.footerListsItem img {
    width: 100%;
}

#copyright p {
    font-size: small;
}

/* CLASES BOOTSTRAP */

.btn-primary {
    color: white;
    font-weight: bold;
    background-color: #2B5BA8;
}

.btn-primary:hover {
    color: black;
    font-weight: bold;
    background-color: #1BFAFC;
}

.dropdown {
    position: static;
    float: right;
}

.btn-secondary {
    color: #000;
    background-color: #C8CACC;
}


/* INDICADOR DE CARGA */
*,*:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#onLoading {
    background-color: rgba(250, 240, 254, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#loaded{
    border: 15px solid #ccc;
    border-top-color: #2A57A6;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: rotate 1.5s linear infinite;
    -o-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    };
}